# To commit changes of file already tracked
# git update-index --assume-unchanged _environment.sh
# git update-index --no-assume-unchanged _environment.sh
/sqlite
/export
/dati_argo
studenti.db
studenti_CF*
personale_CF*
wpusers.txt
_environment_working_tables.sh