# To commit changes of file already tracked
# git update-index --assume-unchanged _environment.sh
# git update-index --no-assume-unchanged _environment.sh
/sqlite
/export
/dati_argo/cdc/*.csv
/dati_argo/cdc/*.xlsx
/dati_argo/cdc/*.pdf
/dati_argo/personale_argo/*.csv
/dati_argo/personale_argo/*.xlsx
/dati_argo/studenti_argo/*.csv
/dati_argo/studenti_argo/*.xls
/dati_gsuite/personale
/dati_gsuite/studenti
/dati_gsuite/*.csv
/dati_gsuite/*.xlsx
/dati_gsuite/*.ods
studenti.db
studenti_CF*
personale_CF*
coordinatori_*
wpusers.txt
_environment_working_tables.sh
debug.log
